<html>
   <body>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>ID</td>
            <td>Price</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row['id']}}</td>
                <td>{{row['price']}}</td>	
            </tr>
         {% endfor %}
      </table>
       <form method="post" action="/">
        <input type="submit" name="Buy" value="Add Stocks">
    </form>
       
   </body>
</html>