<html lang="en">
<head>
    <title>Add stocks</title>
</head>
<body>
    <H1>Add book</H1>
    
    <P>Please enter your books information</P>
    <form action="{{page}}" method="post">
      <label for="book">Book:</label><br>
      <input type="text" id="book" name="book" value=""><br>
      <label for="auth">Author:</label><br>
        <input type="text" id="book" name="book" value=""><br>
      <label for="auth">description:</label><br>
      <input type="text" id="desc" name="desc" value=""><br><br>
      <input type="submit" value="Submit">
    </form>     
</body>
</html>